/* Font  */
* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
}

/* Shared Styles  */
.banner,
.party-container,
.location-container,
.offer-container,
.sale-container,
.portfolio-container,
.newsletter-container {
    width: 90%;
    margin: 0px auto 120px auto;
    border-radius: 16px;
}

.color-red {
    color: #FF0000;
}

.title {
    font-size: 48px;
    color: #070211;
}


/* Banner Styles  */
.banner {
    background-image: linear-gradient(to bottom, rgb(5, 5, 5), rgba(0, 0, 0, 0)), url("../images/Banner\ Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center center;
    margin-top: 50px;
}

.banner-text {
    padding: 180px 340px;
}

.banner-text h4 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 16px;
}

.banner-text h2 {
    font-size: 72px;
    color: white;
    text-align: center;
}


/* Discount section styles  */
.discount {
    margin-bottom: 120px;
}

.discount-content {
    margin: 0px 400px 120px;
    text-align: center;
}

.discount-content h2 {
    font-size: 88px;
    margin-bottom: 48px;
}

.discount-content p {
    font-size: 24px;
    margin-bottom: 16px;
}

.discount-content h3 {
    margin-bottom: 48px;
}


/* Party Container styles  */

.party-container {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0)), url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.party-text {
    padding: 125px 0px 140px 125px;
}

.party-image {
    padding: 38px 140px 38px 0px;
}

.party-text h2 {
    font-size: 64px;
    font-weight: bolder;
    color: #FFFFFF;
}

.party-text p {
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 24px;
}

.party-text h5 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 48px;
    color: #FFFFFF;
    padding-left: 32px;
}


.location-container {
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0.10), rgba(255, 0, 0, 0));
    text-align: center;
}

.location-information {
    padding: 100px 380px 110px 380px;
}

.location-information p {
    font-size: 32px;
    font-weight: 600;
    color: rgba(7, 2, 17, 1);
    margin-bottom: 15px;
}

.btn {
    background-color: #FF0000;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    margin-top: 48px;
}

/* Offer-Styles  */
.offer-container {
    display: flex;
    justify-content: space-around;
}

.new-best-offer {
    width: 390px;
    padding: 104px 70px 104px 0px;
}


.circle-image {
    border: 15px solid;
    border-color: #FF0000;
    border-radius: 50%;
    padding: 30px;
}

.offer-information {
    width: 390px;
    padding: 104px 0px 104px 120px;
}

.offer-title {
    font-size: 38px;
    color: #070211;
    font-weight: 800;
    margin-bottom: 16px;
}

.offer-sub-title {
    margin-bottom: 16px;
    font-size: 24px;
}

.offer-description {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
}

/* Sale Section Styles  */
.sale-container {
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
    background-position: bottom;
}


.sale-information {
    text-align: center;
}

.sale-information h5 {
    font-size: 24px;
    font-weight: 400;
    color: #070211;
    margin-bottom: 16px;
}

.sale-information h2 {
    font-size: 72px;
    font-weight: 800;
    color: #070211;
    margin-bottom: 28px;
}

.sale-information p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

.gift-box {
    width: 800px;
}

.discount {
    margin-bottom: 290px;
}

.sale-images {
    margin-top: 64px;
}

/* portfolio styles  */
.portfolio-information h5 {
    font-size: 24px;
    margin-bottom: 16px
}

.portfolio-information h2 {
    font-size: 48px;
    margin-bottom: 22px;
}

.portfolio-information p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 48px;
}

.portfolio-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.portfolio-images img {
    display: inline-block;
    gap: 24px;
    width: 390px;
    margin-bottom: 20px;
}

/* Newsletter Styles  */
.newsletter-container {
    background-color: rgba(255, 0, 0, 0.05);
}

.newsletter-content {
    text-align: center;
    padding: 100px 212px;
}

.newsletter-content img {
    margin-bottom: 46px;
}

.newsletter-content h2 {
    font-size: 48px;
    font-weight: 800;
    color: #070211;
    margin-bottom: 22px;
}

.newsletter-content p {
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 30px;
}

.newsletter-content input {
    width: 450px;
    padding: 25px 0px 25px 30px;
    font-size: 18px;
    color: rgba(7, 2, 17, 0.3);
    border-radius: 50px 0px 0px 50px;
    border: none;
}

.newsletter-content button {
    background-color: #FF0000;
    padding: 25px 35px 25px 35px;
    border-radius: 0px 50px 50px 0px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    margin-top: 48px;
}

/* Footer Styles */

.footer-container {
    background-color: rgba(7, 2, 17, 1);
    padding: 120px 140px;
}

.footer-information,
.right-reserve {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footer-information,
.right-reserve p {
    color: #FFFFFF;
    font-size: medium;
}

hr {
    margin: 50px 0px;
}

.social-media-icons {
    gap: 24px;
    display: flex;
    justify-content: center;
}

.footer-details p {
    margin-bottom: 15PX;
}